*{
    padding: 0;
    margin: 0;
}

/*****Navigation****/
.nav-menu{
    padding: 15px 15px 5px 15px;
    background-color: #1f2937;
    color: #fff;
    display: flex;
}
.logo{
    /*padding: 10px 0 0 30px ;*/
    font-weight: bold;
    font-size: 20px;
    flex: 1;
}
.nav-menu ul li{
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    flex: 1;
}
/*****Header****/
.header{
    background-color: #1f2937;
    color: #fff;
    padding: 50px;
    display: flex;
    justify-content:space-around;
    gap: 5px;
   
}
.header-left{
    padding: 10px;
}
.header-left h1, .header-left p{
    padding: 10px;
}

.header-left button{
    padding: 5px 20px;
    margin: 10px;
    color: #fff;
    background-color: #3882f6;  
    border: 1px solid #3882f6;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
  
}
.header-right img{
    height: 350px;
    width: auto;
}
